# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=berkesan_user
DB_PASSWORD=password123
DB_NAME=berkesan_coffee

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production

# Frontend URL (untuk CORS)
FRONTEND_URL=http://localhost:5000